<% content_for :head do %>
  <style>
	  section {
		  clear: left;
		  overflow: auto;
		  margin-top: 1em;
	  }
		#double-forms {
			width: 58em;
		}
    .form-wrapper {
	    padding: 1em 1em 0.5em;
	    width: 26em;
	    overflow:auto;
	    border: 1px solid black;
	    float:left;
    }

		.form-wrapper div {
			background-color: #ddd;
			overflow: auto;
			margin-bottom: 0.5em;
			width: 100%;
		}
		
		.form-wrapper div label {
			float:left;
		}
		.form-wrapper div input {
			float:right;
		}
		
		.form-wrapper div input[type="submit"] {
      float: none;
			margin-left: 11em;
			width: 10em;
			color: red;
		}
		#submit-container {
			clear: both;
		}
		.explanation {
			width: 57em;
			border: 1px solid black;
			padding: 0.5em;
			margin-bottom: 1em;
			clear: left;
		}
		#payments-table, #preapprovals-table {
			margin-bottom:2em;
		}
		table.payments, table.preapprovals {
			border-width: 1px;
			border-spacing: 2px;
			border-style: outset;
			border-color: gray;
			border-collapse: separate;
			background-color: white;
		}
		table.payments th, table.preapprovals th {
			border-width: 1px;
			padding: 0.5em;
			border-style: inset;
			border-color: gray;
			background-color: white;
		}
		table.payments td, table.preapprovals td {
			border-width: 1px;
			padding: 0.5em;
			border-style: inset;
			border-color: gray;
			background-color: white;
    }
	</style>
	
	<% if @embedded_flow %>

    <script src="https://www.paypalobjects.com/js/external/dg.js">
    </script>

    <script>
	  	$(document).ready(function(){
			  var dgFlow = new PAYPAL.apps.DGFlow({ trigger: 'submitBtn' });
			  # alert("clicking the button for you...");
				# $("#submitBtn").click();
		  });
	  </script>
	
	<% end %>

<% end %>

<% if @embedded_flow %>
	<form action= "https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay"
	  target="PPDGFrame">
	  <input id="type" type="hidden" name="expType" value="light">
	  <input id="paykey" type="hidden" name="paykey" value="<%= @paykey %>">
	  <% if @preapprovalkey %>
	    <input id="preapprovalkey" type="hidden" name="preapprovalkey"
	      value="<%= @preapprovalkey %>">
	  <% end %>
	  <input type="submit" id="submitBtn" value="Pay with PayPal">
	</form>
<% end %>

<h1>Payment Scenarios</h1>
Here are some sample scenarios to demonstrate the use of PayPal Adaptive Payments.

<section>
<h2>Simple or Parallel Payments</h2>
<div class="explanation">
Fill in one amount box to send a simple payment to <i>Stu</i>, <i>Kira</i>,
or the <i>Store</i>, or fill amounts in more than one box to send parallel
payments. You will be redirected to PayPal as a payer. You should make sure
that you are logged in as <i>buyer_1233697850_per@thirdmode.com</i> with the
password <i>233697837</i>.  You may then approve or cancel the payments.
</div>
<div class="form-wrapper">
	<%= form_tag payments_path do -%>
			<div>
				<%= hidden_field_tag "payment[scenario]", "Payment" %>
				<%= label_tag 'stu', "Amount to send to Stu: " %>
				<%= text_field_tag 'stu', "$10.00" %>
			</div>
			<div>
				<%= label_tag 'kira', "Amount to send to Kira:  " %>
				<%= text_field_tag 'kira', "$8.00" %>
			</div>
			<div>
				<%= label_tag 'store', "Amount to send to Store: " %>
				<%= text_field_tag 'store', "$2.00" %>
			</div>
			<div id="submit-container">
				<%= submit_tag 'Make Payments' %>
			</div>
	<% end -%>
</div>
</section>

<section>
	<h2>Chained Payments</h2>
	<div class="explanation">
	Send chained payments to Stu, Kira via the store.  Fill in any dollar amount
	for Stu and Kira that is less than $100.00 for each. The amount for the
	store should be a small amount, say $2.00, greater than the sum of the
	payments for Stu and Kira.  In a real application, the amounts paid to
	Stu and Kira would be hidden.  The payer can only see one payment -- the
	one to the store.
	You will be redirected to PayPal as a payer.
	Log in to PayPal with the password <b>233697837</b> to approve or cancel the 
	purchase.
	</div>
	<div class="form-wrapper">
	  <%= form_tag payments_path do -%>
			<div>
				<%= hidden_field_tag "payment[scenario]", "Payment" %>
				<%= hidden_field_tag "chained", "true" %>
				<%= label_tag 'stu', "Amount to send to Stu: " %>
				<%= text_field_tag 'stu', "$10.00" %>
			</div>
			<div>
				<%= label_tag 'kira', "Amount to send to Kira:  " %>
				<%= text_field_tag 'kira', "$8.00" %>
			</div>
			<div>
				<%= label_tag 'store', "Amount to send to Store: " %>
				<%= text_field_tag 'store', "$20.00" %>
			</div>
			<div id="submit-container">
				<%= submit_tag 'Make Payments' %>
			</div>
	  <% end -%>
	</div>
</section>

<section>
	<h2>Simple Payment with Preapproval</h2>
	<div class="explanation">
Preapprove a payment to the store. Fill in any dollar amount
that is less than $100.00. You will be redirected to PayPal to complete
the preapproval. Log in with the password <b>233697837</b> to accept or
cancel the preapproval.	
	</div>
	<div id="double-forms">
	  <div class="form-wrapper">
		  <%= form_tag preapprovals_path do -%>
				<%= hidden_field_tag "preapproval[scenario]", "Preapproval" %>
				<div>
				  <%= label_tag 'preapproval[max_num_payments]', "Max Number of Payments: " %>
				  <%= text_field_tag 'preapproval[max_num_payments]', "1" %>
				</div>
				<div>
				  <%= label_tag 'preapproval[max_total_payments]', "Max Total of all Payments: " %>
				  <%= text_field_tag 'preapproval[max_total_payments]', "$100.00" %>
				</div>
				<div>
				  <%= label_tag 'preapproval[max_per_payment]', "Max Per Payment: " %>
				  <%= text_field_tag 'preapproval[max_per_payment]', "$10.00" %>
				</div>
				<div>
					<% pay_periods = %w(NO_PERIOD_SPECIFIED DAILY WEEKLY BIWEEKLY
			      SEMIMONTHLY MONTHLY ANNUALLY) %>
			    <section style="float:left;">
				    <%= label_tag 'preapproval[payment_period]', "Payment Period: " %>
				  </section>
					<section style="float:right;">
				    <%= select_tag 'preapproval[payment_period]',
				      options_from_collection_for_select(pay_periods, :to_s, :to_s) %>
				   </section>
				</div>
				<div>
				  <%= label_tag 'preapproval[max_payments_per_period]', "Max Pmts Per Period: " %>
				  <%= text_field_tag 'preapproval[max_payments_per_period]', "1" %>
				</div>
		
				<% start_date = DateTime.now %>
				<% end_date = start_date + 1%>
				<div>
				  <%= label_tag 'preapproval[start_date]', "Start Date:" %><br/>
					<%= select_datetime(start_date, prefix: "preapproval[start_date]",
					  start_year: 2011, end_year: 2020)  %>
				</div>
				<div>
				  <%= label_tag 'preapproval[end_date]', "End Date:" %><br/>
					<%= select_datetime end_date, prefix: "preapproval[end_date]",
					  start_year: 2011, end_year: 2020 %>
				</div>
				<div id="submit-container">
					<%= submit_tag 'Preapprove' %>
				</div>
		  <% end -%>
		</div>
    
	  <div class="form-wrapper" style="float:right;">
	    <%= form_tag payments_path do -%>
				<%= hidden_field_tag "payment[scenario]", "PreApprovedPayment" %>
				<div>
					<%= label_tag 'store', "Amount to pay to Store: " %>
					<%= text_field_tag 'store', "$10.00" %>
				</div>
				<div id="submit-container">
					<%= submit_tag 'Make Payment' %>
				</div>
	    <% end -%>
	  </div>
	</div>
</section>


<% unless @payments.empty? %>
	<section id="payments-table">
		<h1>Listing payments</h1>

		<table class="payments">
		  <tr>
				<th>ID</th>
				<th>Scenario</th>
		    <th>Sender Email</th>
		    <th>Total</th>
		    <th>Status</th>
		    <th>Timestamp</th>
		    <th>Payment Key</th>
		    <th></th>
		  </tr>

			<% @payments.each do |payment| %>
		  	<tr>
				  <td><%= payment.id %></td>
					<td><%= payment.scenario %></td>
			    <td><%= payment.sender_email %></td>
			    <td><%= cents_to_currency(payment.amount) %></td>
			    <td><%= payment.status %></td>
			    <td><%= payment.timestamp.localtime if payment.timestamp %></td>
					<td><%= payment.paykey %></td>
					<td><%= link_to "details", payment_path(payment) %>
			  </tr>
		  <% end %>
	
		</table>
  <% end %>
	<% unless @preapprovals.empty? %>
		<section id="preapprovals-table">
			<h1>Listing Preapprovals</h1>

			<table class="preapprovals">
			  <tr>
					<th>ID</th>
			    <th>Status</th>
			    <th>Timestamp</th>
			    <th>Preapproval Key</th>
			    <th></th>
			  </tr>

				<% @preapprovals.each do |preapproval| %>
			  	<tr>
					  <td><%= preapproval.id %></td>
				    <td><%= preapproval.status %></td>
				    <td><%= preapproval.timestamp.localtime %></td>
						<td><%= preapproval.preapproval_key %></td>
						<td><%= link_to "details", preapproval_path(preapproval) %>
				  </tr>
			  <% end %>

			</table>
	  <% end %>
<section>
