<% content_for :head do %>
  <style>
    .form-contents {
	    padding: 1em 1em 0.5em;
	    width: 25em;
	    overflow:auto;
	    border: 1px solid black;
    }

		.form-contents div {
			background-color: #ddd;
			overflow: auto;
			margin-bottom: 0.5em;
			width: 100%;
		}
		
		.form-contents div label {
			float:left;
		}
		.form-contents div input {
			float:right;
		}
		.form-contents div input[type="submit"] {
      float: none;
			margin-left: 11em;
			width: 10em;
			color: red;
		}
		#submit-container {
			clear: both;
		}
		.explanation {
			width: 50%;
			border: 1px solid black;
			padding: 0.5em;
			margin-bottom: 1em;
		}
		
		table.payments {
			border-width: 1px;
			border-spacing: 2px;
			border-style: outset;
			border-color: gray;
			border-collapse: separate;
			background-color: white;
		}
		table.payments th {
			border-width: 1px;
			padding: 0.5em;
			border-style: inset;
			border-color: gray;
			background-color: white;
		}
		table.payments td {
			border-width: 1px;
			padding: 0.5em;
			border-style: inset;
			border-color: gray;
			background-color: white;
    }
	</style>
	
	<% if @embedded_flow %>

    <script src="https://www.paypalobjects.com/js/external/dg.js">
    </script>

    <script>
	  	$(document).ready(function(){
			  var dgFlow = new PAYPAL.apps.DGFlow({ trigger: 'submitBtn' });
			  # alert("clicking the button for you...");
				# $("#submitBtn").click();
		  });
	  </script>
	
	<% end %>

<% end %>

<form action= "https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay"
  target="PPDGFrame">
  <input id="type" type="hidden" name="expType" value="light">
  <input id="paykey" type="hidden" name="paykey" value="<%= @paykey %>">
  <% if @preapprovalkey %>
    <input id="preapprovalkey" type="hidden" name="preapprovalkey"
      value="<%= @preapprovalkey %>">
  <% end %>
  <input type="submit" id="submitBtn" value="Pay with PayPal">
</form>

<h1>Payment Scenarios</h1>
Here are some sample scenarios to demonstrate the use of PayPal Adaptive Payments.
<h2>Parallel Payments</h2>
<div class="explanation">
Send parallel payments to Stu, Kira, and the store.  Fill in any dollar amount
for each that is less than $100.00. You will be redirected to PayPal as a buyer.
Log in to PayPal with the password <b>233697837</b> to approve or cancel the 
purchase.
</div>
<%= form_tag payments_path do -%>
	<div class="form-contents">
		<div>
			<%= hidden_field_tag "scenario", "1" %>
			
			<%= label_tag 'stu', "Amount to send to Stu: " %>
			<%= text_field_tag 'stu', "$10.00" %>
		</div>
		<div>
			<%= label_tag 'kira', "Amount to send to Kira:  " %>
			<%= text_field_tag 'kira', "$8.00" %>
		</div>
		<div>
			<%= label_tag 'store', "Amount to send to Store: " %>
			<%= text_field_tag 'store', "$2.00" %>
		</div>
		<div id="submit-container">
			<%= submit_tag 'Make Payments' %>
		</div>
		
	</div>
<% end -%>

<h2>Chained Payments</h2>
<div class="explanation">
Send chained payments to Stu, Kira via the store.  Fill in any dollar amount
for Stu and Kira that is less than $100.00 for each. The amount for the
store should be a small amount, say $2.00, greater than the sum of the
payments for Stu and Kira.  In a real application, the amounts paid to
Stu and Kira would be hidden.  The payer can only see one payment -- the
one to the store.
You will be redirected to PayPal as a buyer.
Log in to PayPal with the password <b>233697837</b> to approve or cancel the 
purchase.
</div>
<%= form_tag payments_path do -%>
	<div class="form-contents">
		<div>
			<%= hidden_field_tag "scenario", "2" %>
			<%= label_tag 'stu', "Amount to send to Stu: " %>
			<%= text_field_tag 'stu', "$10.00" %>
		</div>
		<div>
			<%= label_tag 'kira', "Amount to send to Kira:  " %>
			<%= text_field_tag 'kira', "$8.00" %>
		</div>
		<div>
			<%= label_tag 'store', "Amount to send to Store: " %>
			<%= text_field_tag 'store', "$20.00" %>
		</div>
		<div id="submit-container">
			<%= submit_tag 'Make Payments' %>
		</div>
		
	</div>
<% end -%>

<% unless @payments.empty? %>
	<h1>Listing payments</h1>

	<table class="payments">
	  <tr>
			<th>ID</th>
			<th>Scenario</th>
	    <th>Sender Email</th>
	    <th>Total</th>
	    <th>Status</th>
	    <th>Timestamp</th>
	    <th>Payment Key</th>
	    <th>Correlation ID</th>
	    <th></th>
	  </tr>

		<% @payments.each do |payment| %>
	  	<tr>
			  <td><%= payment.id %></td>
				<td><%= payment.scenario %></td>
		    <td><%= payment.sender_email %></td>
		    <td><%= payment.amount %></td>
		    <td><%= payment.status %></td>
		    <td><%= payment.timestamp %></td>
				<td><%= payment.paykey %></td>
				<td><%= payment.correlation_id %></td>
				<td><%= link_to "details", payment_path(payment) %>
		  </tr>
	  <% end %>
	
	</table>
<% end %>

